.life-in-weeks {
	h2 {
		margin-top: 0;
	}
	.border-tertiary {
		border-color: #eee;
		color: #666;
	}
	.border-tertiary a {
		color: #666;
	}
	.week {
		a {
			text-decoration: none;
		}
	}
	.future-date {
		background-color: #eee;
	}
}